/* @font-face {
  font-family: "god";
  src: url("/Poppins/Poppins-Regular.ttf");
}

* {
  font-family: "god";
  font-weight: 600px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "god"; */
  /* font-weight: 600px; */
  /* box-sizing: border-box; */
}

body {
  /* background: url("/Laptop/background-body.jpg") fixed center; */
  background-color: #ffffff;
}

/* Navbar */
.navbar_style {
  color: #f9f9f9;
  transition: all 0.5s ease;
}
.navbar_style:hover {
  color: #2c62aeff;
  text-decoration: underline;
}

/* carousel-styling */
.carousel img {
  height: 480px;
  width: 100%;
  object-fit: cover;
}

.absolute-text-carousel {
  height: 100%;
  width: 500px;
  padding-top: 100px;
  padding-left: 140px;
  padding-right: 80px;
  padding-bottom: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.absolute-text-carousel .carousel-item-text {
  margin-bottom: 50px;
  font-size: 13px;
}
.absolute-text-carousel button {
  background-color: #294e95;
  color: #f9f9f9;
}

@media only screen and (max-width: 1000px) {
  .absolute-text-carousel {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 250px;
    transform: none;
    left: unset;
    top: unset;
    padding: 2em 1em 1em;
    text-align: center;
    font-size: 15px;
  }
}

/* button in card */
.border-style-button button {
  border-color: #f9f9f9;
}

.carousel-control-prev {
  width: 8%;
  font-size: 40px;
}
.carousel-control-next {
  width: 8%;
  font-size: 40px;
}

@media only screen and (max-width: 550px) {
  .carousel-control-prev {
    width: 10%;
    font-size: 30px;
  }
  .carousel-control-next {
    width: 10%;
    font-size: 30px;
  }
}

/* other navbar */
.list-home-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 15px;
  margin: 0;
}

.li-color {
  cursor: pointer;
  color: #000;
}

.li-color:hover {
  text-decoration: underline;
}

.li-color:active {
  text-decoration: underline;
}

@media only screen and (max-width: 650px) {
  .list-home-style {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .list-home-style .li-color {
    padding: 15px;
    border: none;
  }
}

/* other navbar link difference cards */
.contentGG {
  display: none;
}

.contentGG.active {
  display: block;
}

.contentGG .card {
  margin-top: 20px;
}

.contentGG .card img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentGG .card .service-style {
  height: 350px;
  background-color: #f4f4f4;
  text-align: center;
}

.contentGG .card .service-style .card-title {
  height: 30px;
  font-size: 18px;
}
.contentGG .card .service-style .card-text {
  font-size: 15px;
  margin-top: 50px;
}

/* last content */
.card-togo .card-title {
  height: 12vh;
  background-color: #213a80;
  color: #f9f9f9;
  padding: 15px;
  text-align: center;
}

.card-togo .card-title p {
  font-size: 12px;
}
